body {
    font-family: 'Poppins', sans-serif !important;
}
.hidden {
    display: none !important;
}
.pointer-none {
    pointer-events: none;
}
.dashboard-display {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.05)
}
.dashboard-display-icon {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.15);
}
.dashboard-display-number {
    font-size: 1.3rem;
    font-weight: 700;
}
.dashboard-main-col {
    border-radius: 4px;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.05);
    background-color: #fff;
}
.translation-section-btn {
    margin-bottom: 2rem;
    background-color: rgba(245, 245, 245, 0.70);
    color: #37474F;
    font-size: 1.2rem;
    border: 3px dotted #8360C3;
    padding: 0 25px;
}
.alert-update {
    color: #FF9800;
    background-color: #ffffff;
    border-color: #d8d8d8;
    border-radius: 0.275rem;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.05);
}
@media (min-width: 320px) and (max-width: 767px) {
    .navbar-collapse.collapse {
        z-index: 9999999;
        background-color: #fff;
        box-shadow: 0 5px 20px 0 #ccc;
    }
}
.gllpMap {
    width: 100%;
    height: 350px;
}
@media only screen and (max-width: 600px) {
    .gllpMap {
        width: 100%;
        height: 200px;
    }
    .location-search-block {
        display: none !important;
    }
}
.gllpSearchField {
    border-radius: 20px 0 0 20px;
    box-shadow: 0 2px 5px 2px #ccc;
}
.gllpSearchButton {
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0 2px 5px 2px #ccc;
}
.gm-fullscreen-control {
    display: none;
}
.location-search-block {
    position: relative;
    top: -26rem;
    z-index: 999;
}

.animated-bell {
    font-size: 4.5rem;
    color: rgba(131, 96, 195, 0.30);
    -webkit-animation: alert-notify-bell 8s 1s ease-in-out infinite;
    animation: alert-notify-bell 8s 1s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    transform-origin: 50% 4px;
}


@-webkit-keyframes alert-notify-bell {
    0% {
        -webkit-transform: rotateZ(0);
    }
    1% {
        -webkit-transform: rotateZ(30deg);
    }
    3% {
        -webkit-transform: rotateZ(-28deg);
    }
    5% {
        -webkit-transform: rotateZ(34deg);
    }
    7% {
        -webkit-transform: rotateZ(-32deg);
    }
    9% {
        -webkit-transform: rotateZ(30deg);
    }
    11% {
        -webkit-transform: rotateZ(-28deg);
    }
    13% {
        -webkit-transform: rotateZ(26deg);
    }
    15% {
        -webkit-transform: rotateZ(-24deg);
    }
    17% {
        -webkit-transform: rotateZ(22deg);
    }
    19% {
        -webkit-transform: rotateZ(-20deg);
    }
    21% {
        -webkit-transform: rotateZ(18deg);
    }
    23% {
        -webkit-transform: rotateZ(-16deg);
    }
    25% {
        -webkit-transform: rotateZ(14deg);
    }
    27% {
        -webkit-transform: rotateZ(-12deg);
    }
    29% {
        -webkit-transform: rotateZ(10deg);
    }
    31% {
        -webkit-transform: rotateZ(-8deg);
    }
    33% {
        -webkit-transform: rotateZ(6deg);
    }
    35% {
        -webkit-transform: rotateZ(-4deg);
    }
    37% {
        -webkit-transform: rotateZ(2deg);
    }
    39% {
        -webkit-transform: rotateZ(-1deg);
    }
    41% {
        -webkit-transform: rotateZ(1deg);
    }
    
    43% {
        -webkit-transform: rotateZ(0);
    }
    100% {
        -webkit-transform: rotateZ(0);
    }
}

@keyframes alert-notify-bell {
    0% {
        -webkit-transform: rotateZ(0);
    }
    1% {
        -webkit-transform: rotateZ(30deg);
    }
    3% {
        -webkit-transform: rotateZ(-28deg);
    }
    5% {
        -webkit-transform: rotateZ(34deg);
    }
    7% {
        -webkit-transform: rotateZ(-32deg);
    }
    9% {
        -webkit-transform: rotateZ(30deg);
    }
    11% {
        -webkit-transform: rotateZ(-28deg);
    }
    13% {
        -webkit-transform: rotateZ(26deg);
    }
    15% {
        -webkit-transform: rotateZ(-24deg);
    }
    17% {
        -webkit-transform: rotateZ(22deg);
    }
    19% {
        -webkit-transform: rotateZ(-20deg);
    }
    21% {
        -webkit-transform: rotateZ(18deg);
    }
    23% {
        -webkit-transform: rotateZ(-16deg);
    }
    25% {
        -webkit-transform: rotateZ(14deg);
    }
    27% {
        -webkit-transform: rotateZ(-12deg);
    }
    29% {
        -webkit-transform: rotateZ(10deg);
    }
    31% {
        -webkit-transform: rotateZ(-8deg);
    }
    33% {
        -webkit-transform: rotateZ(6deg);
    }
    35% {
        -webkit-transform: rotateZ(-4deg);
    }
    37% {
        -webkit-transform: rotateZ(2deg);
    }
    39% {
        -webkit-transform: rotateZ(-1deg);
    }
    41% {
        -webkit-transform: rotateZ(1deg);
    }
    
    43% {
        -webkit-transform: rotateZ(0);
    }
    100% {
        -webkit-transform: rotateZ(0);
    }
}
.popup-order {
    border: 1px solid #E0E0E0;
    padding-bottom: 2rem;
}
.popup-order-processing {
    pointer-events: none;
    filter: grayscale(0.8);
}
.login-form .card {
    min-width: 372px;
}
.extra-menu {
    min-width: 500px;
}
@media (min-width: 320px) and (max-width: 767px) {
    .extra-menu {
        min-width: auto;
    }
}
.chart-container {
    margin-top: 5rem;
    overflow: hidden;
}
.chart-container.has-scroll {
    overflow: hidden;
}
#showPassword {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #E0E0E0;
    border-radius: 0.275rem;
    color: #9E9E9E;
}
#showPassword:hover {
    color: #616161;
}
.delivery-div {
    background-color: #fafafa;
    padding: 1rem;
}

.location-search-block {
    position: relative;
    top: -26rem;
    z-index: 999;
}
.delivery-div {
    background-color: #fafafa;
    padding: 1rem;
}
.location-search-block {
    position: relative;
    top: -26rem;
    z-index: 999;
}
hr {
    border-top: 1px solid #f2f2f2 !important;
}
.pulse {
    display: inline-block;
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    animation: pulse 1.2s infinite;
    vertical-align: middle;
    margin: -3px 0 0 3px;
}
.pulse-warning {
    background: #ffc107;
}
.pulse-danger {
    background: #ff5722;
}

@keyframes  pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255,87,34, 0.5);
    }
    50% {
        box-shadow: 0 0 0 26px rgba(255,87,34, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255,87,34, 0);
    }
}
.btn-registerBtn {
    background-color: #ffffff;
    color: #2b2b2b;
    border-radius: 0.175rem;
    box-shadow: 0 1px 6px 1px rgba(0,0,0,.05);
    transition: 0.2s linear all !important;
}
.btn-registerBtn:hover {
    /*background-color: #fafafa !important;*/
    color: #2b2b2b;
    box-shadow: 0 3px 12px 2px rgba(0,0,0,.10) !important;
    transition: 0.2s linear all !important;
}
.btn-registerBtn-selected {
    color: #fff;
    background-color: #FF5722;
}
.btn-registerBtn-selected:hover {
    color: #fff;
}
.delivery-msg {
    background-color: #ffffff;
    color: #2b2b2b;
    border-radius: 0.175rem;
    box-shadow: 0 3px 12px 2px rgba(0,0,0,.05);
}
.pay-service-logo {
    color: #fff;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}
.slider-image-choose {
    margin-bottom: 0px;
    margin-top: 10px;
}
.uniform-checker .chick:after  {
    opacity: 1;
}
.jquery-validation-form label.error {
    position: absolute;
    color: #f00;
    font-size: 11px;
    top: 100%;
}
.service-box .selection .select2-search .select2-search__field {
    padding: .4700rem 1rem !important;
    font-size: .875rem !important;
    line-height: 1.4286 !important;
    font-weight: 400 !important;
    color: #4e535a !important;
}
.service-box .select2-selection--multiple .select2-selection__choice {
    border: 1px solid #ddd;
    background: none;
    color: #4e535a;
    font-size: 13px;
}
.service-box .select2-selection--multiple .select2-selection__choice:hover {
    background: none;
    color: #4e535a;
}
.nav-links li a {
    font-size: 0.875rem;
}
.table-flex {
    display: flex !important;
}
.table-right-border {
    border-right: 1px solid #ddd;
}
.list-heading {
    font-weight: 500;
}
.main-image-title {
    position: absolute;
    top: 198px;
    left: 30px;
    background: rgba(0,0,0,0.5);
    padding: 5px;
    padding-right: 13.4%;
    padding-left: 16.9%;
    color: #fff;
}
.main-image-title-1 {
    position: absolute;
    top: 198px;
    right: 32px;
    background: rgba(0,0,0,0.5);
    padding: 5px;
    padding-right: 10%;
    padding-left: 12.7%;
    color: #fff;
}
.upper-table img {
    max-width: 302px;
    min-width: 302px;
    max-height: 218.11px;
    min-height: 218.11px;
}
.item-img {
    max-height: 218.11px;
    min-height: 218.11px;
}
.item-img img{
    max-width: 220px;
    min-width: 220px;
    max-height: 218.11px;
    min-height: 218.11px;
}
.submit-button-link button {
    margin-top: 39px;
    margin-left: 18px;
}

.clear-button  {
    margin-top: 39px;
}
.order-status {
    height: calc(1.4286em + 1.125rem + 2px);
    font-size: .875rem;
}
.disable-button {
    background-color: #b1b5bb !important;
    border: none;
}
.custom-form .col-form-label, .custom-form .form-label {
    font-size: 13px;
}
.invoices-list thead tr th {
    white-space: nowrap;
}
span.auth-error {
    font-size: 12px;
    color: #f00;
    text-align: center;
    display: block;
    margin-bottom: 1.25rem;
}