.bianca-200 {
  background-color: #F7efe5;
  color: #222222;
}
.outrageous-orange-500 {
  color: #fd5825;
}
.common-color-code .badge-primary, .common-color-code .btn-primary {
  background-color: #fd5825;
} 
.common-color-code .btn-secondary {
   background-color: rgba(34, 34, 34, 0.8);
}
.common-color-code .card .card-body .nav-pills .nav-link.active {
   background-color: rgba(34, 34, 34, 0.8);
}
.common-color-code .pagination .page-item.active .page-link {
   background-color: #fd5825;
   border-color: #fd5825;
}

.common-color-code .btn-secondary.btn-labeled>b {
   background-color: #222222;
}
.common-color-code a {
  color: #fd5825;
}
.common-navbar-dark-color-code {
  background: linear-gradient(to left,#fd5825,#222222);
}
.common-navbar-sticky-color-code .navbar-nav-link.active {
  color: #fd5825;
}
.invoice_title {
  display: grid;
}
.invoice_title .text {
  color: unset;
  margin-bottom: 17px;
}
.invoice_title .text:hover {
  color: #fd5825;
}
.invoice_title .pdf-img {
  color: unset;
}
.invoice_title .pdf-img .icon-file-pdf {
  color: #ad2622;
  font-size: 24px;
}
.view_tab span:hover {
  color: #fd5825;
}
.paid_unpaid_show .paid_text:hover {
  color: #fd5825;
  cursor: pointer;
}
.paid_unpaid_show .paid_text {
  font-size: 12px;
}
@media only screen and (max-width: 767px) {
  .search-icons-box {
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .search-icons-box .btn-primary {
    width: 25%;
  }
}
@media only screen and (max-width: 543px) {
  .custom-navbar-brnd {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 543px) {
  .custom-right-bar .navbar-toggler {
    padding-top: 0;
  }
}
@media only screen and (min-width: 768px) {
  .custom-menu-drop {
    display: none !important;
  }
}
.custom-menu-drop {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
}
.custom-menu-drop .add-invoice {
  display: flex;
}
.custom-menu-drop .add-invoice:hover {
  background-color: #f5f5f5;
}
.custom-menu-drop .add-invoice .icon-plus2 {
  line-height: 1;
  top: 1px;
}
.custom-menu-drop .btn {
  border-radius: 0;
}
.dropdownMenuButton-1::after {
  display: none;
}
